<!DOCTYPE html>
<html>
<head><h1>Happyness class</h1>
	<title>ALL is WELL
	</title>
	</head>
	<body><p> Due to family problems,I had to transfer my daughter from a privete school to Government one.</p>
		<p>due to stress and worries,I frequently get migraine.I would be in pain most of the time.</p>
		<p>maybe that bothered my daughter .after my daughter started Happiness class,she help me feel </p>
		</p>positive and better.she gaves me hope and tells me all is well</p>
	</body>




</html>



























